* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input, select, button {
	font-family: inherit;
	font-size: inherit;
}

html {
	min-width: 100%;
	min-height: 100%;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

body {
	padding: 2rem;
	display: grid;
	grid-template-areas: "h h" "g c" "g f" "g v" "g s" "g o";
	grid-template-rows: auto auto auto auto auto 1fr;
	align-items: start;
	gap: 1rem;
}

x-header {
	grid-area: h;
	display: flex;
}

x-graph {
	grid-area: g;
	width: max-content;
	height: fit-content;
	column-gap: 1rem;
}

x-control {
	grid-area: c;
	display: flex;
}

x-focus {
	grid-area: f;
	display: flex;
}

x-visual {
	grid-area: v;
}

x-sheet {
	grid-area: s;
	width: max-content;
	justify-self: center;
	gap: 1rem;
}

x-gmo {
	grid-area: o;
	width: fit-content;
	justify-self: center;
	column-gap: 1rem;
}

x-header > * {
	gap: 1rem;
}

x-graph button {
	aspect-ratio: 1 / 1;
	min-width: 1rem;
	margin: 0.25rem;
}

x-control > * {
	gap: 1rem;
}

x-control button, .toggle {
	padding: 0 0.25rem;
}

x-focus > * {
	gap: 1rem;
}

x-sheet > div {
	gap: 1rem;
}

x-sheet > div > div {
	column-gap: 0.5rem;
}

x-sheet .baseline {
	text-align: center;
}

x-gmo .view_gmo_bar:empty {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

x-gmo .view_gmo_bar {
	width: 40rem;
}

x-gmo .view_gmo_bar > * {
	height: fit-content;
}

x-gmo .view_gmo_bar .neg {
	background-color: orange;
	text-align: right;
}

x-gmo .view_gmo_bar .zer {
	text-align: center;
}

x-gmo .view_gmo_bar .pos {
	background-color: cyan;
	text-align: left;
}

button {
	border: none;
}

summary {
	list-style-position: outside;
	margin-left: 1rem;
}

li {
	list-style-position: outside;
	margin-left: 1rem;
}

summary, .summary {
	width: max-content;
	max-width: 24rem;
	text-align: justify;
}

details p, .details {
	min-width: 100%;
	width: 0;
	text-align: justify;
}

.radio {
	display: inline-block;
	text-align: center;
}

.radio label {
	display: block;
}

.radio:has(:checked) {
	background-color: turquoise;
}

.radio:has(:checked) label {
	font-weight: bold;
	text-shadow:
		white  1px 0   1px,
		white -1px 0   1px,
		white  0   1px 1px,
		white  0  -1px 1px;
}

.expand {
	resize: both;
	overflow: hidden;
	width: max-content;
	padding-right: 1rem;
}

.expand, textarea {
	height: fit-content;
}

.expand:empty {
	width: 0;
	height: 0;
}

.flex-start {
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

.flex-center {
	flex: 1;
	display: flex;
	justify-content: center;
}

.flex-end {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.toggle {
	user-select: none;
	background-color: #ebebeb;
}

.toggle_radio:has(:checked) {
	background-color: lightgreen;
}

.toggle_checkbox:has(:checked) {
	background-color: gold;
}

.legend {
	min-width: 12rem;
}

div :has(> details) {
	column-gap: 0.5rem;
}

.details * {
	margin-block: 0.5rem;
}
