body {
	margin: 0;
	padding: 1rem;
	width: fit-content;
	min-width: 100%;
	box-sizing: border-box;
}

button {
	border: none;
}

[id="view graph"] {
	margin-right: auto;
	margin-left: auto;
}

[id="view graph"] button {
	margin: 0.5rem;
}

[id="view input"] {
	margin-right: auto;
	margin-left: auto;
}

[id="view input"] p {
	white-space: nowrap;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 0;
}

[id="view input"] div p:first-child {
	margin-right: 0;
}

[id="view input"] div p:last-child {
	margin-left: 0;
}

[id="view input"] details p, p.details {
	white-space: wrap;
	width: 0;
	min-width: 100%;
	text-align: justify;
}

p.details {
	box-sizing: border-box;
	padding-right: 1rem;
}

[id="view input"] .reduced {
	/* margin-top: -0.5rem; */
}

[id="view input"] .reduced textarea {
	resize: vertical;
}

[id="view input"] textarea:disabled {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

[id="view input"] p label:has(input[type="radio"]) {
	font-size: 1.2rem;
}

label:has(input[type="radio"]:checked) {
	background-color: lightgreen;
	font-weight: bold;
}
