* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */

* {
	height: min-content;
}

div.radio {
	margin: 0.5rem;
}

button {
	margin: 0.5rem;
	padding: 0 0.5rem;
}

textarea, p.expand {
	margin: 0.5rem 0;
}

p.expand {
	margin: 0.5rem 0;
	padding: 0 0.5rem;
}

p, details {
	padding: 0.5rem;
}

div.view_gmo_bar {
	width: 40rem;
}

div.view_gmo_bar:empty {
	height: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

section[id="view df1 gmo"] {
	width: min-content;
}

div.view_gmo_bar p {
	padding: 0;
}

section[id="view df1 gmo"] p,
section[id="view df1 gmo"] details
{
	padding: 0 0.5rem 0 0;
}

section[id="view df1 gmo"] p.details {
	padding: 0.5rem 0.5rem 0.5rem 0;
}

div.view_gmo_bar p.pos {
	text-align: left;
	background-color: cyan;
}

div.view_gmo_bar p.neg {
	text-align: right;
	background-color: orange;
}

div.view_gmo_bar p.zer {
	text-align: center;
}

details > :not(summary) {
	padding: 0.5rem 0;
}

form[id="view df1 sheet"] textarea {
	width: 6rem;
}

p.trace_by {
	padding-right: 0;
}

p.trace_from{
	padding-right: 0;
}

header[id="view control"] {
	display: flex;
}

div.username {
	margin-left: auto;
}

p.description {
	margin-top: 0;
}

nav p.expand {
	width: max-content;
	margin-right: 1rem;
}

nav button {
	padding: 0;
	margin: 0.5rem;
	border: none;
	min-width: 1rem;
	min-height: 1rem;
}

/* -------------------------------------------------- */

html, body {
	min-width: 100%;
	width: fit-content;
}

body {
	padding: 1rem;
	display: grid;
	grid-template-rows: min-content max-content;
	grid-template-columns: min-content auto;
	grid-template-areas: "h h" "g m";
}

nav, article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

details summary, p.summary {
	white-space: nowrap;
}

details > :not(summary), p.details {
	min-width: 100%;
	width: 0;
	text-align: justify;
}

div.radio {
	display: inline-block;
	text-align: center;
}

div.radio label {
	display: block;
}

div.radio:has(input[type="radio"]:checked) {
	background-color: turquoise;
}

div.radio:has(input[type="radio"]:checked) label {
	font-weight: bold;
	text-shadow:
		white  1px 0   1px,
		white -1px 0   1px,
		white  0   1px 1px,
		white  0  -1px 1px;
}

p.expand {
	resize: both;
	overflow: hidden;
	overflow-wrap: break-word;
}

p.baseline {
	text-align: center
}
