* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */

* {
	height: min-content;
}

div.radio, textarea {
	margin: 0.5rem;
}

p, details {
	padding: 0.5rem;
}

div.view_gmo_bar {
	width: 40rem;
}

div.view_gmo_bar:empty {
	height: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

section[id="view df1 gmo"] {
	width: min-content;
}

div.view_gmo_bar p {
	padding: 0;
}

section[id="view df1 gmo"] p,
section[id="view df1 gmo"] details
{
	padding: 0 0.5rem 0 0;
}

section[id="view df1 gmo"] p.details {
	padding: 0.5rem 0.5rem 0.5rem 0;
}

div.view_gmo_bar p.pos {
	text-align: left;
	background-color: cyan;
}

div.view_gmo_bar p.neg {
	text-align: right;
	background-color: orange;
}

div.view_gmo_bar p.zer {
	text-align: center;
}

details > :not(summary) {
	padding: 0.5rem 0;
}

/* -------------------------------------------------- */

html, body {
	min-width: 100%;
	width: fit-content;
}

body {
	padding: 1rem;
}

nav, article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

details summary, p.summary {
	white-space: nowrap;
}

details > :not(summary), p.details {
	min-width: 100%;
	width: 0;
	text-align: justify;
}

div.radio {
	display: inline-block;
	text-align: center;
}

div.radio label {
	display: block;
	font-size: 1.2rem;
	line-height: 1.7rem;
}

div.radio:has(input[type="radio"]:checked) {
	background-color: turquoise;
}

div.radio:has(input[type="radio"]:checked) label {
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow:
		white  1px 0   1px,
		white -1px 0   1px,
		white  0   1px 1px,
		white  0  -1px 1px;
}

p.expand {
	resize: both;
	overflow: hidden;
	overflow-wrap: break-word;
}

p.baseline {
	text-align: center
}
